
@font-face {
  font-family: 'HesDeadJim';
  src: url('HesDeadJim.eot?#iefix') format('embedded-opentype'),  url('HesDeadJim.woff') format('woff'), url('HesDeadJim.ttf')  format('truetype'), url('HesDeadJim.svg#HesDeadJim') format('svg');
  font-weight: normal;
  font-style: normal;
}
