:host.contact {
	display: flex;
	flex-direction: column;
  justify-content: center;
	background: linear-gradient(327deg, #062f4f 0%, #00458b 50%, #6b9ac4 100%);
	text-align: center;
	height: 100%;
	gap: 0.5em;

	.contact__panel {
		display: flex;
		padding: 0.2em;
		flex-direction: column;
		background: white;
		margin: auto;
		margin-top: 20px;
		margin-bottom: 50px;
		text-align: center;
		box-shadow: 0px 15px 50px 0px rgba(0, 0, 0, 0.15);
		border-radius: 0.375rem;
		transition: transform 1s ease;
		transition-delay: 0.2s;
		width: 600px;

		h3 {
			margin-bottom: 0;
		}
	}

	.contact__details {
		text-align: left;
		p {
			font-size: 1em;
			margin: 0;
		}
	}

	.contact__links {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
		flex-wrap: wrap;
		width: 90%;
		justify-content: center;
		margin: auto;
		padding-bottom: 20px;
	}

	.contact__link {
		display: flex;
		flex-direction: row;
		justify-content: start;
		align-items: center;
		padding: 1em;
		height: 100px;

		h3 {
			text-align: left;
			font-weight: 700;
			color: #6b9ac4;
			font-size: 2rem;
			text-transform: uppercase;
			padding: 0;
			margin: 0;
			margin-top: 5px;
		}

		&:hover {
			background-color: #f7f7f7;
			border-radius: 0.375rem;
			transition: background-color 0.5s ease;

			p, h3 {
				color: #4881b4;
				transition: color 0.5s ease;
			}
		}
	}

	.contact__cert-link {
		display: block;
		position: absolute;
		width: 230px;
		height: 100px;
	}

	.fa-contact {
		padding: 10px;
		margin-right: 10px;
		font-size: 35px;
		width: 50px;
		height: 50px;
		background: url("../../../assets/Images/graphic.png");
		background-size: 200px 200px;
		background-position: top right;
		border-radius: 50%;
		text-align: center;
		text-decoration: none;
		color: #fff;
		&.fa {
			&::before {
				display: inline-block;
				width: 35px;
				height: 35px;
				vertical-align: middle;
				line-height: normal;
			}
		}
	}

	@media (max-width: 769px) {
			.contact__panel {
					width: 85%;
			}
			.contact__links {
					flex-direction: column;
					width: 85%;
					padding-bottom: 20px;
					margin: auto;
			}
			.contact__link {
					width: 100%;
					margin: auto;
			}
			.title {
					font-size: 70px;
			}
	}
}