<div class="contact">
  <div class="contact__main">
    <div class="toptitle">
      <h2 class="title">CONTACT</h2>
    </div>
    <div class="technicalsection">
      <div class="topsection">
        <p>You can reach me on either of the below channels:</p>
      </div>
      <div class="contactlinks">
        <div class="contactlink">
          <a class="certLink" href="https://www.linkedin.com/in/josh-tell/" target="_blank"></a>
          <a href="https://www.linkedin.com/in/josh-tell/" target="_blank" class="fa-contact fa fa-linkedin"></a>
          <div>
              <h3>LinkedIn</h3>
              <p>Josh Tell</p>
          </div>
        </div>
        <div class="contactlink">
          <a class="certLink" href="mailto:jtell1997@gmail.com" target="_blank"></a>
          <a href="mailto:jtell1997@gmail.com" target="_blank" class="fa-contact fa fa-paper-plane"></a>
          <div>
            <h3>Email</h3>
            <p>jtell1997@gmail.com</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
