<div id="content">
  <div class="abovesection">
    <div class="toptitle">
      <h2 class="title">TECHNICAL SKILLS</h2>
    </div>

    <div class="technicalsection">
      <p>A visual representation of my comfort using various technologies</p>

      <div class="bottomsection">
        <div class="bar flex">
          <div
            class="bar fill"
            [ngStyle]="{ width: width90, 'transition-delay': t1 }"
          >
            <div class="tag bold flex">Ruby on Rails</div>
          </div>
          <span class="percent">90%</span>
        </div>
        <div class="bar flex">
          <div
            class="bar fill"
            [ngStyle]="{ width: width90, 'transition-delay': t3 }"
          >
            <div class="tag bold flex">Angular</div>
          </div>
          <span class="percent">90%</span>
        </div>
        <div class="bar flex">
          <div
            class="bar fill"
            [ngStyle]="{ width: width80, 'transition-delay': t4 }"
          >
            <div class="tag bold flex">HTML / CSS</div>
          </div>
          <span class="percent">80%</span>
        </div>
        <div class="bar flex">
          <div
            class="bar fill"
            [ngStyle]="{ width: width80, 'transition-delay': t5 }"
          >
            <div class="tag bold flex">Typescript</div>
          </div>
          <span class="percent">80%</span>
        </div>
        <div class="bar flex">
          <div
            class="bar fill"
            [ngStyle]="{ width: width75, 'transition-delay': t6 }"
          >
            <div class="tag bold flex">SQL</div>
          </div>
          <span class="percent">75%</span>
        </div>

        <div class="bar flex">
          <div
            class="bar fill"
            [ngStyle]="{ width: width65, 'transition-delay': t7 }"
          >
            <div class="tag bold flex">AWS</div>
          </div>
          <span class="percent">65%</span>
        </div>

        <div class="bar flex">
          <div
            class="bar fill"
            [ngStyle]="{ width: width60, 'transition-delay': t8 }"
          >
            <div class="tag bold flex">.NET / C#</div>
          </div>
          <span class="percent">60%</span>
        </div>
      </div>
    </div>
  </div>

  <div class="middle-section">
    <div id="secondintro">
      <h2 class="title2">PROJECTS</h2>
      <hr class="breakLine2" />
    </div>
    <section class="timeline">
      <div class="container">
        <div class="timeline-img"></div>

        <div class="timeline-item">
          <div class="timeline-content timeline-card">
            <div class="timeline-img-header">
              <h2>Bookshelf</h2>
            </div>
            <div class="date">JAN 2023 - PRESENT</div>
            <p>
              During my exploration of
              <a class="inText" href="https://hotwired.dev/" target="_blank"
                >Hotwire</a
              >, I embarked on a practical learning journey by creating
              something tailored to my needs. The result is a streamlined
              website reminiscent of Goodreads, designed to facilitate book
              cataloguing, reviewing, and discovery.
            </p>
            <p><i>Ruby on Rails, Hotwire, HTML, CSS</i></p>
            <a
              class="bnt-more"
              href="https://old-mountain-8141.fly.dev/books"
              target="_blank"
              >More</a
            >
          </div>
        </div>
        <div></div>

        <div class="timeline-img"></div>

        <div class="timeline-item">
          <div class="timeline-content timeline-card">
            <div class="timeline-img-header">
              <h2>Personal Portfolio</h2>
            </div>
            <div class="date">MARCH 2020 - PRESENT</div>
            <p>
              I designed and developed my personal portfolio website using
              Angular and HTML/SCSS. After gaining some experience with Angular
              during a side project at work, I set out to put my new found
              knowledge to use and this website is the result. This project was
              a great learning process for me and futhered my interest in
              front-end web development.
            </p>
            <p><i>Angular, HTML, CSS, Git</i></p>
            <a class="bnt-more" href="https://www.joshtell.dev" target="_blank"
              >More</a
            >
          </div>
        </div>
        <div></div>

        <div class="timeline-img"></div>
        <div class="timeline-item">
          <div class="timeline-content timeline-card">
            <div class="timeline-img-header">
              <h2>Otago University Squash Club</h2>
            </div>
            <div class="date">MARCH 2018 - OCTOBER 2019</div>
            <p>
              The University Of Otago squash club used Weebly to build and
              maintain their website. As my first experience using a CMS, I
              contributed to the club by updating and maintaining the website
              during my time studying as an undergraduate.
            </p>
            <p><i>Angular, HTML, CSS, Git</i></p>
            <a
              class="bnt-more"
              href="https://www.unisquash.net/"
              target="_blank"
              >More</a
            >
          </div>
        </div>
        <div></div>
      </div>
    </section>
  </div>
</div>
