<div id="content">
  <div class="abovesection">
    <div class="toptitle">
      <h2 class="title">TECHNICAL SKILLS</h2>
    </div>

    <div class="technicalsection">
      <p>A visual representation of my technical skills</p>

      <div class="bottomsection">
        <div class="bar flex">
          <div class="tag bold flex">Ruby on Rails</div>
          <div
            class="bar fill"
            [ngStyle]="{ width: width90, 'transition-delay': t1 }"
          >

          </div>
          <span class="percent">90%</span>
        </div>
        <div class="bar flex">
            <div class="tag bold flex">Angular</div>
          <div
            class="bar fill"
            [ngStyle]="{ width: width90, 'transition-delay': t3 }"
          >
          </div>
          <span class="percent">90%</span>
        </div>
        <div class="bar flex">
            <div class="tag bold flex">HTML / CSS</div>
          <div
            class="bar fill"
            [ngStyle]="{ width: width80, 'transition-delay': t4 }"
          >

          </div>
          <span class="percent">80%</span>
        </div>
        <div class="bar flex">
            <div class="tag bold flex">Typescript</div>
          <div
            class="bar fill"
            [ngStyle]="{ width: width80, 'transition-delay': t5 }"
          >

          </div>
          <span class="percent">80%</span>
        </div>
        <div class="bar flex">
            <div class="tag bold flex">SQL</div>
          <div
            class="bar fill"
            [ngStyle]="{ width: width75, 'transition-delay': t6 }"
          >

          </div>
          <span class="percent">75%</span>
        </div>

        <div class="bar flex">
            <div class="tag bold flex">AWS</div>
          <div
            class="bar fill"
            [ngStyle]="{ width: width65, 'transition-delay': t7 }"
          >

          </div>
          <span class="percent">65%</span>
        </div>

        <div class="bar flex">
            <div class="tag bold flex">.NET / C#</div>
          <div
            class="bar fill"
            [ngStyle]="{ width: width60, 'transition-delay': t8 }"
          >

          </div>
          <span class="percent">60%</span>
        </div>
      </div>
    </div>
  </div>

  <div class="belowsection">
    <div class="bottomtitle">
      <h2 class="title">PROJECTS</h2>
    </div>
    <div class="portfolio">
      <div class="card">
        <div class="hiddenblock">
          <p>
            I designed and developed my personal portfolio website using
            Angular5 and HTML/Stylus. After gaining some experience with Angular
            during a side project at work, I set out to put my new found
            knowledge to use and this website is the result. This project was a
            great learning process for me and futhered my interest in front-end
            web development.
          </p>
        </div>
      </div>
      <div class="card">
        <div class="hiddenblock">
          <p>
            The University Of Otago squash club used Weebly to build and
            maintain their website. As my first experience using a CMS, I
            contributed to the club by updating and maintaining the website
            during my time studying as an undergraduate.
          </p>
        </div>
      </div>
      <p class="infoText">Hover to read about each project.</p>
    </div>
  </div>
  <div class="bottompage">
    <div class="bottomtitle2">
      <h2 class="title2">CERTIFICATIONS</h2>
    </div>

    <div class="certificates">
      <div class="certificate">
        <a
          class="certLink"
          href="https://www.youracclaim.com/badges/911cde9a-633e-4c09-a4c3-92444f9d46e8/public_url"
          target="_blank"
        ></a>
        <p class="certText">I gained this certification in June 2020.</p>
      </div>
    </div>
  </div>
</div>
