#content {
	display: flex;
	flex-direction: column;
	margin: auto;
	background-color: #008f95;
	text-align: center;
	min-height: 100%;
}
*,
*::before,
*::after {
	box-sizing: border-box;
}
.main {
	margin: auto;
	margin-top: 0px;
	flex-direction: column;
	width: 100%;
}
.fa1 {
	width: 54px;
}
body {
	font: normal 16px/1.5 "Helvetica Neue", sans-serif;
	background: #48b379;
	color: #fff;
	overflow-x: hidden;
	padding-bottom: 50px;
	font-family: 'Roboto';
	font-size: 17px;
	font-weight: 400;
	background-color: #eee;
}
.intro {
	background: #2a4494;
	height: 750px;
	padding-top: 60px;
	width: 100%;
}
#container {
	margin-top: 60px;
	max-width: 100%;
}
#secondintro {
	padding-bottom: 20px;
	padding-top: 110px;
}
.container {
	width: 90%;
	margin: 0 auto;
	text-align: center;
}
h1 {
	font-weight: 100 !important;
	text-transform: capitalize;
	font-size: 55px;
	color: #fff;
	margin-bottom: 20px;
	font-size: 200%;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-weight: 400;
}
.logo {
	float: left;
}
p {
	font-size: 18px;
	color: #fff;
	line-height: 1.5;
	text-align: left;
	text-justify: auto;
}
i {
	color: #2a4494;
}
.introText {
	text-align: justify;
	text-justify: auto;
}
.inText {
	font-size: 20px;
	color: #fff;
	line-height: 1.5;
}
a {
	&:hover {
		color: #008f95;
	}
}

#top {
	width: 70%;
	margin: auto;
	margin-top: 30px;
	text-align: center;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}
.breakLine {
	background-color: #fff;
	max-width: 300px;
	height: 5px;
}
.breakLine2 {
	background-color: #6b9ac4;
	max-width: 540px;
	height: 5px;
}
#col1 {
	width: 40%;
}
#col2 {
	width: 40%;
}
#bottomsection {
	background: #ecebe4;
	overflow-x: hidden;
}
section {
	padding: 40px 0;
}
html,
body {
	overflow-x: hidden;
}
header {
	background: #3f51b5;
	color: #fff;
	padding: 150px 0;
	p {
		font-family: 'Allura';
		color: rgba(255,255,255,0.2);
		margin-bottom: 0;
		font-size: 60px;
		margin-top: -30px;
	}
}
.timeline-item {
	&:nth-child(2) {
		.timeline-img-header {
			background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.4)), url("../../../assets/Images/banqer.png") center center no-repeat;
			background-size: contain;
		}
	}
	&:nth-child(5) {
		.timeline-img-header {
			background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.4)), url("../../../assets/Images/dxc_logo2.png") center center no-repeat;
			background-size: contain;
		}
	}
	&:nth-child(8) {
		.timeline-img-header {
			background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.4)), url("../../../assets/Images/anzLogo.png") center center no-repeat;
			background-size: contain;
		}
	}
	&:nth-child(11) {
		.timeline-img-header {
			background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.4)), url("../../../assets/Images/gocloudpng.png") center center no-repeat;
			background-size: contain;
		}
	}
	&:nth-child(14) {
		.timeline-img-header {
			background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.4)), url("../../../assets/Images/Otago2.png") center center no-repeat;
			background-size: contain;
		}
	}
}

.timeline-card {
	padding: 0 !important;
	p {
		padding: 0 20px;
		background-color: #fff;
		color: #00343f;
	}
}
blockquote {
	margin-top: 30px;
	color: #757575;
	border-left-color: #3f51b5;
	padding: 0 20px;
}


@media (max-width: 769px) {
	#col1 {
		width: 80%;
		margin: auto;
	}
	#col2 {
		width: 80%;
		margin: auto;
	}
	#top {
		flex-direction: column;
		width: 100%;
	}
	.intro {
		height: 1050px;
	}
	.title {
		font-size: 70px;
	}
	.title2 {
		font-size: 50px;
	}
	.breakLine {
		max-width: 70%;
	}
	.breakLine2 {
		max-width: 90%;
	}
	#secondintro {
		padding-top: 30px;
	}
	.timeline-img-header {
		text-align: center;
		h2 {
			width: 100%;
			margin-top: 40px;
			left: 0px;
			font-size: 20px;
		}
	}
	.timeline {
		&::before {
			left: 50px;
		}
		.timeline-img {
			left: 50px;
		}
		.timeline-content {
			max-width: 100%;
			width: auto;
			margin-left: 70px;
		}
		.timeline-item {
			&:nth-child(odd) {
				transform: none;
				.timeline-content {
					float: left;
					padding: 40px 30px 10px 30px;
				}
			}
			&:nth-child(even) {
				transform: none;
				.timeline-content {
					float: left;
					padding: 40px 30px 10px 30px;
					&::after {
						content: '';
						position: absolute;
						border-style: solid;
						width: 0;
						height: 0;
						top: 30px;
						left: -15px;
						border-width: 10px 15px 10px 0;
						border-color: transparent #c5cae9 transparent transparent;
					}
				}
			}
		}
	}
	}



