<div id="content">
  <div class="main">
    <section class="intro">
      <div id="container">
        <h2 class="title">ABOUT ME</h2>
        <div id="top">
          <div id="col1">
            <p class="introText">
              Hello, I'm Josh, a passionate software developer from Aotearoa New
              Zealand. With over {{ CalculateDifference("experience") }} years
              of experience as a full stack developer, I have honed my skills in
              creating robust and innovative solutions. I hold a BSc degree in
              Computer Science, which I obtained from the
              <a class="inText" href="https://www.otago.ac.nz/" target="_blank"
                >University of Otago</a
              >
              in November 2017. I most recently worked as a Ruby on Rails
              developer at
              <a class="inText" href="https://www.banqer.co/" target="_blank"
                >Banqer</a
              >, building dynamic web applications that change peoples lives.
              Now I'm taking a career break to slow travel through Asia with my partner.


            </p>
          </div>
          <div id="col2">
            <p class="introText">
              This career break is not only about travel but also about broadening my perspective and gaining fresh insights that I can bring back to my career in tech.
              I genuinely believe that technology has the power to transform the
              world, and I am dedicated to harnessing its potential.
              If you're looking for a dedicated professional who can
              navigate the ever-evolving landscape of software development,
              let's connect and discuss how we can bring your ideas to life.
            </p>
          </div>
        </div>
      </div>
    </section>

    <div id="bottomsection">
      <section id="secondintro">
        <h2 class="title2">WORK EXPERIENCE</h2>
      </section>

      <section class="timeline">
        <div class="container">
          <div class="timeline-img"></div>

          <div class="timeline-item">
            <div class="timeline-content timeline-card">
              <div class="timeline-img-header">
                <h2>Senior Software Developer</h2>
              </div>
              <div class="date">MARCH 2022 - FEB 2025</div>
              <p>
                Designed and developed full stack web
                applications using the software development lifecycle, including
                design, coding, testing, and documentation.
                During my time at Banqer I was promoted from an Intermediate to Senior developer.
              </p>
              <p><i>Ruby on Rails, Angular, RxJs, HTML, CSS, Git, AWS</i></p>
              <a class="bnt-more" href="https://banqer.co/nz/" target="_blank"
                >More</a
              >
            </div>
          </div>
          <div></div>

          <div class="timeline-img"></div>
          <div class="timeline-item">
            <div class="timeline-content timeline-card">
              <div class="timeline-img-header">
                <h2>Professional Application Developer</h2>
              </div>
              <div class="date">FEB 2019 - MARCH 2022</div>
              <p>
                I started at DXC in the graduate program, and was selected for
                the graduate leadership program the following year. I continued
                progressing to an intermediate full stack developer, which
                involved working more independently and with greater
                responsibility.
              </p>
              <p>
                Designing and developing production-level object-oriented
                applications using the software development lifecycle, including
                design, coding, testing, and documentation.
              </p>
              <p>
                <i
                  >C#, .NET, SQL, HTML5, CSS, WCF, Web Services, Angular, IIS</i
                >
              </p>
              <a
                class="bnt-more"
                href="https://www.dxc.technology/about_us"
                target="_blank"
                >More</a
              >
            </div>
          </div>
          <div></div>

          <div class="timeline-img"></div>
          <div class="timeline-item">
            <div class="timeline-content timeline-card">
              <div class="timeline-img-header">
                <h2>Global Mobility Services Engineer</h2>
              </div>
              <div class="date">APRIL 2018 - JAN 2019</div>
              <p>
                Provided level 2 mobile support to 40,0000 users accross ANZ
                globally. This included device acquisition with vendors, device
                management/compliance, and tech-support through the phone for
                ServiceNow ticket resolution.
              </p>
              <p><i>VMware AirWatch, ServiceNow, Customer Service</i></p>
              <a
                class="bnt-more"
                href="https://www.anz.co.nz/about-us/our-company/anz-new-zealand/"
                target="_blank"
                >More</a
              >
            </div>
          </div>

          <div></div>

          <div class="timeline-img"></div>
          <div class="timeline-item">
            <div class="timeline-content timeline-card">
              <div class="timeline-img-header">
                <h2>Junior .NET Software Developer</h2>
              </div>
              <div class="date">NOV 2017 - APRIL 2018</div>
              <p>
                Designed and developed a full stack web application which was
                hosted in the cloud using Azure App Services.
              </p>
              <p><i>C#, .NET, SQL, HTML5, Azure SQL Database</i></p>
              <a
                class="bnt-more"
                href="https://gocloud.systems/"
                target="_blank"
                >More</a
              >
            </div>
          </div>

          <div></div>

          <div class="timeline-img"></div>
          <div class="timeline-item">
            <div class="timeline-content timeline-card">
              <div class="timeline-img-header">
                <h2>BSc - Computer Science</h2>
              </div>
              <div class="date">FEB 2015 - NOV 2017</div>
              <p>
                During my three years of study at Otago University, some of the
                papers I took included Web Development, Networking, AI, Database
                Theory, and Object Oriented Programming.
              </p>
              <a
                class="bnt-more"
                href="https://www.otago.ac.nz/"
                target="_blank"
                >More</a
              >
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
