<div class="box" (touchstart)="swipe($event, 'start')" (touchend)="swipe($event, 'end')">
  <button (click)="toggleShow()" id="test" aria-label="Toggle navigation menu" class="fa fa-bars fa-2x">
  </button>
  <div [@slideInOut]="animationState" class="navigation_background">
    <nav *ngIf="navShow" class="Navigation_mobile-nav">
      <a (click)="toggleShow()" class="navLink_mobile" routerLink="" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:
        true}">Home</a>
      <a (click)="toggleShow()" class="navLink_mobile" routerLink="/experience" routerLinkActive="active-link">Experience</a>
      <a (click)="toggleShow()" class="navLink_mobile" routerLink="/skills" routerLinkActive="active-link">Skills</a>
      <a (click)="toggleShow()" class="navLink_mobile" routerLink="/contact" routerLinkActive="active-link">Contact</a>
    </nav>
  </div>
  <div class="row header">
    <nav>
      <a class="navLink" routerLink="" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:
        true}">Home</a>
      <a class="navLink" routerLink="/experience" routerLinkActive="active-link">Experience</a>
      <a class="navLink" routerLink="/skills" routerLinkActive="active-link">Skills</a>
      <a class="navLink" routerLink="/contact" routerLinkActive="active-link">Contact</a>
    </nav>
  </div>
  <div class="row content">
    <router-outlet></router-outlet>
  </div>
  <div class="row footer">
    <h2>CONNECT WITH ME</h2>
    <div id="socials">
        <a href="https://github.com/telljo" target="_blank" class="fa1 fa fa-github"></a>
        <a href="https://www.linkedin.com/in/josh-tell/" target="_blank" class="fa1 fa fa-linkedin"></a>
        <a href="mailto:jtell1997@gmail.com" target="_blank" class="fa1 fa fa-paper-plane"></a>
    </div>
  </div>
</div>
