<div class="home">
  <div class="home__main">
    <div class="home__top-section">
      <section>
        <h2 class="home__first-name">josh</h2>
        <h2 class="home__last-name">TELL</h2>
      </section>
      <img class="spin circle" src="../../../assets/Images/profile7.jpg" height="200" width="200">
    </div>

    <h2 class="home__job-title">APPLICATION DEVELOPER</h2>
    <div class="home__button-container">
      <a class="home__button-link" routerLink="/experience" routerLinkActive="active-link"><span>VIEW MY WORK</span></a>
    </div>
  </div>
</div>
