.home {
  display: flex;
  flex: 1 1 auto;
	background-color: #008f95;
	text-align: center;
  height: 100%;

  .home__main {
    flex: 1 1 auto;
    margin: auto;
    margin-top: 100px;
    text-align: center;
    height: 300px;
  }

  .home__top-section {
    display: flex;
    margin: auto;
    width: 100%;
    flex-direction: row;
    justify-content: center;
  }

  img {
    border: 5px solid #28afb0;
    border-radius: 50%;
    margin-top: 14px;
    margin-left: 10px;
    width: 150px;
    height: 150px;
  }

  .home__first-name {
    font-family: 'deadjim', 'arial', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 120px;
    margin: 0px;
    color: #acfcd9;
  }
  .home__last-name {
    font-family: 'deadjim', 'arial', sans-serif;
    font-style: normal;
    letter-spacing: 5px;
    font-weight: 300;
    margin: 0px;
    color: #28afb0;
    font-size: 80px;
  }
  .home__job-title {
    font-family: 'deadjim', 'arial', sans-serif;
    font-style: normal;
    letter-spacing: 5px;
    font-weight: 300;
    font-size: 60px;
    margin: 0px;
    color: #2c3e50;
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 40px;
  }

  section {
    margin-top: 10px;
    margin-right: 10px;
  }

  .home__button-link {
    width: 160px;
    margin-top: 15px;
    color: #acfcd9 !important;
    font: 13px/1.4 Helvetica, arial, freesans, clean, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 700;
    background: #008f95;
    padding: 20px;
    border: 4px solid #acfcd9 !important;
    display: inline-block;
    transition: all 0.4s ease 0s;
    &:hover {
      color: #acfcd9 !important;
      background: #28afb0;
      border-color: #28afb0 !important;
      transition: all 0.4s ease 0s;
    }
  }
  .home__button-container {
    width: 200px;
    margin: auto;
    span {
      cursor: pointer;
      display: inline-block;
      position: relative;
      transition: 0.5s;
      &:after {
        content: '\00bb';
        position: absolute;
        opacity: 1;
        bottom: 0;
        margin-bottom: 2px;
        right: -20px;
        transition: 0.5s;
      }
    }
    &:hover {
      span {
        padding-right: 15px;
        &:after {
          opacity: 1;
          right: 0;
        }
      }
    }
  }

  @media (max-width: 769px) {
      .name {
          font-size: 70px;
      }
      .name1 {
          font-size: 70px;
      }
      .name2 {
          font-size: 40px;
      }
      img {
          width: 110px;
          height: 110px;
      }
  }
}
