<div class="projects__content">
  <div class="projects__title">
    <h2 class="title">PROJECTS</h2>
  </div>

  <div class="timeline timeline--projects">
    <div class="timeline-img"></div>
    <div class="timeline-item">
      <div class="timeline-content timeline-card">
        <div class="timeline-img-header">
          <h2>Footprints</h2>
        </div>
        <div class="date">OCT 2024 - PRESENT</div>
        <p>
          In preparation for a career break to travel the world, I created
          Footprints, a web application designed to help users document
          their travels and share their experiences with others. The app
          allows users to create a profile, add trips, and share their
          experiences with others. The app is built using Ruby on Rails,
          Hotwire, and Bootstrap.
        </p>
        <p><i>Ruby on Rails, Hotwire, HTML, CSS</i></p>
        <a
          class="bnt-more"
          href="https://footprints.fly.dev"
          target="_blank"
          >More</a
        >
      </div>
    </div>
    <div></div>

    <div class="timeline-img"></div>
    <div class="timeline-item">
      <div class="timeline-content timeline-card">
        <div class="timeline-img-header">
          <h2>Bookshelf</h2>
        </div>
        <div class="date">JAN 2023 - PRESENT</div>
        <p>
          During my exploration of
          <a class="inText" href="https://hotwired.dev/" target="_blank"
            >Hotwire</a
          >, I embarked on a practical learning journey by creating
          something tailored to my needs. The result is a streamlined
          website reminiscent of Goodreads, designed to facilitate book
          cataloguing, reviewing, and discovery.
        </p>
        <p><i>Ruby on Rails, Hotwire, HTML, CSS</i></p>
        <a
          class="bnt-more"
          href="https://old-mountain-8141.fly.dev/books"
          target="_blank"
          >More</a
        >
      </div>
    </div>
    <div></div>

    <div class="timeline-img"></div>
    <div class="timeline-item">
      <div class="timeline-content timeline-card">
        <div class="timeline-img-header">
          <h2>Personal Portfolio</h2>
        </div>
        <div class="date">MARCH 2020 - PRESENT</div>
        <p>
          I designed and developed my personal portfolio website using
          Angular and HTML/SCSS. After gaining some experience with Angular
          during a side project at work, I set out to put my new found
          knowledge to use and this website is the result. This project was
          a great learning process for me and futhered my interest in
          front-end web development.
        </p>
        <p><i>Angular, HTML, CSS, Git</i></p>
        <a class="bnt-more" href="https://www.joshtell.dev" target="_blank"
          >More</a
        >
      </div>
    </div>
    <div></div>

    <div class="timeline-img"></div>
    <div class="timeline-item">
      <div class="timeline-content timeline-card">
        <div class="timeline-img-header">
          <h2>Otago University Squash Club</h2>
        </div>
        <div class="date">MARCH 2018 - OCTOBER 2019</div>
        <p>
          The University Of Otago squash club used Weebly to build and
          maintain their website. As my first experience using a CMS, I
          contributed to the club by updating and maintaining the website
          during my time studying as an undergraduate.
        </p>
        <p><i>Angular, HTML, CSS, Git</i></p>
        <a
          class="bnt-more"
          href="https://www.unisquash.net/"
          target="_blank"
          >More</a
        >
      </div>
    </div>
  </div>
</div>