:host.projects {
  display: flex;
  background: linear-gradient(327deg, #1b543c 0%, #277b57 50%, #6bc4a6 100%);

  .projects__content {
    display: flex;
    padding-top: 8em;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: auto;
    text-align: center;
  }

  .projects__title {
    padding-bottom: 20px;
    padding-top: 60px;
  }

  .projects__break-line {
    background-color: white;
    width: 310px;
    height: 5px;
  }

  @media (max-width: 769px) {
    .technicalsection {
      width: 85%;
    }
    .flex {
      margin-left: 0;
      margin-right: 0;
      width: 100%;
    }
    .tag {
      width: 80px;
    }
    span {
      padding: 0;
    }
    .title {
      font-size: 70px;
    }

    .infoText {
      opacity: 0;
    }
    .middle-section {
      height: 1050px;
    }
    .certificates {
      margin-top: 0px;
    }
  }
}

p {
  margin-bottom: 0px;
  margin-top: 25px;
  font-size: 18px;
  color: #00343f;
  line-height: 1.5;
  text-align: center;
  text-justify: auto;
}
.toptitle {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 50px;
  transition: transform 1s ease;
  transform: translateY(20px);
  transition-delay: 0.2s;
}
.bottomtitle {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  transition: transform 1s ease;
  transition-delay: 0.2s;
  transform: translateY(20px);
}
.bottomtitle2 {
  display: flex;
  justify-content: center;
  margin-top: 80px;
}

.technicalsection {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 150px;
  margin-bottom: 50px;
  text-align: center;
  box-shadow: 0 20px 20px -15px rgba(0, 0, 0, 0.3);
  transition: transform 1s ease;
  transition-delay: 0.2s;
  transform: translateY(-100px);
  background-color: #fff;
  width: 600px;
  border-radius: 4px;
}
.header {
  height: 50px;
  text-align: center;
  margin: 0px;
  width: 100%;
}

.bottomsection {
  display: block;
  padding: 15px;
  margin: auto;
  width: 90%;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
}
.bar {
  align-items: flex-end;
  background-color: #f3f3f3;
  color: #00343f;
  font: 13px/1.4 Helvetica, arial, freesans, clean, sans-serif, "Segoe UI Emoji",
    "Segoe UI Symbol";
  font-weight: 500;
  width: 80%;
  font-size: 11pt;
  height: 28px;
  border: 2px solid #508AA8;
  border-radius: 20px;
}
.percent {
  color: #00343f;
  font-weight: 600;
  margin-right: 2px;
}
.flex {
	display: flex;
	margin-bottom: 15px;
	margin-left: 50px;
	flex-direction: row;
	justify-content: space-between;
	margin-left: 0;
	margin-right: 0;
	width: 100%;
}
span {
  display: initial;
  z-index: 1;
  padding: 0 5px 0 0;
  margin-bottom: 4px;
  padding: 0;
}
.fill {
  left: 0;
	position: relative;
	width: 0px;
	top: 0;
	background-color: #508AA8;
	z-index: 2;
	padding: 0;
  border: none;
	transition: width 1s ease-in-out, transform 1s ease;
}
.tag {
  padding-top: 5px;
	display: flex;
	justify-content: center;
	position: absolute;
	background-color: #12355B;
	margin: 0;
	color: #fff;
	height: 23px;
	width: 110px;
  line-height: 28px;
	font: 13px/1.4 Helvetica, arial, freesans, clean, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
	font-weight: 700;
  border-radius: 20px 0px 0px 20px;
}

.certText {
  color: #00343f;
  height: 60px;
}
.timeline {
  margin-top: 60px;
}
.timeline-item {
  &:nth-child(2) {
		.timeline-img-header {
			background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.4)), url("../../../assets/Images/bookshelf.png") no-repeat;
			background-size: cover;
		}
	}
  &:nth-child(5) {
		.timeline-img-header {
			background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.4)), url("../../../assets/Images/portfolio.png") center center no-repeat;
			background-size: cover;
		}
	}
	&:nth-child(8) {
		.timeline-img-header {
			background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.4)), url("../../../assets/Images/squash.png") center center no-repeat;
			background-size: contain;
		}
	}
}