#content {
  display: flex;
  flex-direction: column;
  margin: auto;
  background-color: #fff;
  text-align: center;
  min-height: 100%;
}
.abovesection {
  background-color: #062f4f;
  height: 100vh -50px;
  margin: auto;
  flex-direction: column;
  width: 100%;
}
.middle-section {
  background: #ecebe4;
  margin: auto;
  flex-direction: column;
  width: 100%;
  overflow-x: hidden;
}
.breakLine2 {
	background-color: #6b9ac4;
	width: 310px;
	height: 5px;
}

#secondintro {
	padding-bottom: 20px;
	padding-top: 60px;
}

.bottompage {
  background-color: #e0e0e0;
  height: 600px;
  margin: auto;
  flex-direction: column;
  width: 100%;
}
p {
  margin-bottom: 0px;
  margin-top: 25px;
  font-size: 18px;
  color: #00343f;
  line-height: 1.5;
  text-align: center;
  text-justify: auto;
}
.toptitle {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 50px;
  transition: transform 1s ease;
  transform: translateY(20px);
  transition-delay: 0.2s;
}
.bottomtitle {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  transition: transform 1s ease;
  transition-delay: 0.2s;
  transform: translateY(20px);
}
.bottomtitle2 {
  display: flex;
  justify-content: center;
  margin-top: 80px;
}

.breakLine {
  margin-top: 20px;
	background-color: #fff;
	max-width: 300px;
	height: 5px;
  border: none;
}

.technicalsection {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 150px;
  margin-bottom: 50px;
  text-align: center;
  box-shadow: 0 20px 20px -15px rgba(0, 0, 0, 0.3);
  transition: transform 1s ease;
  transition-delay: 0.2s;
  transform: translateY(-100px);
  background-color: #fff;
  width: 600px;
  border-radius: 4px;
}
.header {
  height: 50px;
  text-align: center;
  margin: 0px;
  width: 100%;
}
.certificates {
  display: flex;
  margin: auto;
  height: 350px;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 0px;
}
.certificate {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: auto;
  text-align: center;
  transition: transform 1s ease;
  transition-delay: 0.2s;
  height: 350px;
  width: 300px;
  border-radius: 4px;
  background-color: #fff;
  &:hover {
    opacity: 0.5;
  }
  &:nth-child(1) {
    background: url("../../../assets/Images/microsoft.png") center no-repeat;
  }
  &:nth-child(2) {
    background: url("../../../assets/Images/azure-dev.jpeg") center no-repeat;
  }
}
.certLink {
  display: block;
  width: 300px;
  height: 350px;
}

.bottomsection {
  display: block;
  padding: 15px;
  margin: auto;
  width: 90%;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
}
.bar {
  align-items: flex-end;
  background-color: #f3f3f3;
  color: #00343f;
  font: 13px/1.4 Helvetica, arial, freesans, clean, sans-serif, "Segoe UI Emoji",
    "Segoe UI Symbol";
  font-weight: 500;
  width: 80%;
  font-size: 11pt;
  height: 28px;
  border: 2px solid #508AA8;
  border-radius: 20px;
}
.percent {
  color: #00343f;
  font-weight: 600;
  margin-right: 2px;
}
.flex {
	display: flex;
	margin-bottom: 15px;
	margin-left: 50px;
	flex-direction: row;
	justify-content: space-between;
	margin-left: 0;
	margin-right: 0;
	width: 100%;
}
span {
  display: initial;
  z-index: 1;
  padding: 0 5px 0 0;
  margin-bottom: 4px;
  padding: 0;
}
.fill {
  left: 0;
	position: relative;
	width: 0px;
	top: 0;
	background-color: #508AA8;
	z-index: 2;
	padding: 0;
  border: none;
	transition: width 1s ease-in-out, transform 1s ease;
}
.tag {
  padding-top: 5px;
	display: flex;
	justify-content: center;
	position: absolute;
	background-color: #12355B;
	margin: 0;
	color: #fff;
	height: 23px;
	width: 110px;
  line-height: 28px;
	font: 13px/1.4 Helvetica, arial, freesans, clean, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
	font-weight: 700;
  border-radius: 20px 0px 0px 20px;
}

.certText {
  color: #00343f;
  height: 60px;
}
.timeline {
  margin-top: 60px;
}
.timeline-item {
  &:nth-child(2) {
		.timeline-img-header {
			background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.4)), url("../../../assets/Images/bookshelf.png") no-repeat;
			background-size: cover;
		}
	}
  &:nth-child(5) {
		.timeline-img-header {
			background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.4)), url("../../../assets/Images/AngularCV2.png") center center no-repeat;
			background-size: contain;
		}
	}
	&:nth-child(8) {
		.timeline-img-header {
			background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.4)), url("../../../assets/Images/squash.png") center center no-repeat;
			background-size: contain;
		}
	}
}

.container {
	width: 90%;
	margin: 0 auto;
	text-align: center;
}

@media (max-width: 769px) {
  .technicalsection {
    width: 85%;
  }
  .flex {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }
  .tag {
    width: 80px;
  }
  span {
    padding: 0;
  }
  .title {
    font-size: 70px;
  }
  .title2 {
    font-size: 70px;
  }
  .infoText {
    opacity: 0;
  }
  .middle-section {
    height: 1050px;
  }
  .certificates {
    margin-top: 0px;
  }
}
