<button (click)="toggleNav()" class="navbar__button fa fa-bars fa-2x"></button>
@if (navShow()) {
  <div class="navbar__background">
    <nav class="navbar__mobile-nav">
      @for (link of navLinks; track link.path) {
        <a
          (click)="closeNav()"
          class="navbar__mobile-link"
          [routerLink]="link.path"
          routerLinkActive="navbar__mobile-link--active"
          [routerLinkActiveOptions]="exactMatchOptions"
        >
          {{ link.label }}
        </a>
      }
    </nav>
  </div>
}
<nav [class.scrolled]="navScrolled()">
  @for (link of navLinks; track link.path) {
    <a
      class="navbar__link"
      [routerLink]="link.path"
      routerLinkActive="navbar__link--active"
      [routerLinkActiveOptions]="exactMatchOptions"
    >
      {{ link.label }}
    </a>
  }
</nav>
