@font-face {
  font-family: 'deadjim';
  src: url("/assets/fonts/HesDeadJim.woff") format("opentype");
}

@font-face {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 400; // Regular weight
  src: url("/assets/fonts/mulish/Mulish-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 700; // Bold weight
  src: url("/assets/fonts/mulish/Mulish-Bold.ttf") format("truetype");
}

.title {
	font-family: 'deadjim', 'arial', sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 80px;
	margin: 0px;
	margin-top: 20px;
	color: #fff;
}

html,
body {
  height: 100%;
  margin: 0;
	overscroll-behavior: none;
	font-family: 'Mulish';
	font-style: normal;
	font-weight: 600;
	color: #333;
}

.box {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.box .row.header {
  flex: 0 1 auto;
  z-index: 50;
	background-color: #2c3e50;
}

.box .row.content {
  flex: 1 1 auto;
}

h2,
h1,
h3 {
	color: #555555;
	font-family: Mulish;
	font-size: 1.125rem;
	font-style: normal;
	font-weight: 700;
}

p {
	line-height: 1.5;
	text-justify: auto;
	font-size: 18px;
	font-weight: 400;
	font-family: Mulish;
	color: #00343f;
}

.fa1 {
	padding: 15px;
	font-size: 20px;
	width: 20px;
	border-radius: 50%;
	border: 2px solid #fff;
	text-align: center;
	text-decoration: none;
	color: #fff;
	&:hover {
		opacity: 0.7;
	}
}

#socials {
	display: flex;
	width: 200px;
	margin: auto;
	justify-content: space-between;
	margin-top: 10px;
}
button {
	cursor: pointer;
}
.stop-scrolling {
	height: 100%;
	overflow: hidden;
}

.bnt-more {
	background: #1c448e;
	color: #fff;
	padding: 10px;
	text-transform: uppercase;
	font-size: 14px;
	margin-bottom: 20px;
	margin-top: 10px;
	display: inline-block;
	border-radius: 2px;
	box-shadow: 0 1px 3px -1px rgba(0,0,0,0.6);
	text-decoration: none;

	&:hover {
		background: #143a81;
		text-decoration: underline;
	}
}

.timeline {
	position: relative;
	&::before {
		content: '';
		background: #6b9ac4;
		width: 5px;
		height: 95%;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
	}

	&--projects {
		&::before {
			background: #13432f;
		}

		.timeline-img,
		.date,
		.bnt-more {
			background: #13432f;

			&:hover {
				background: #092a1c;
			}
		}
	}
}

.timeline-item {
	width: 100%;
	margin-bottom: 70px;
	visibility: hidden;
	opacity: 0;
	transition: all 0.5s ease-in-out;
	&:nth-child(odd) {
		transform: translate3d(200px, 0, 0);
		.timeline-content {
			float: right;
			padding: 40px 30px 10px 30px;
			.date {
				right: auto;
				left: 0;
			}
			&::after {
				content: '';
				position: absolute;
				border-style: solid;
				width: 0;
				height: 0;
				top: 30px;
				left: -15px;
				border-width: 10px 15px 10px 0;
				border-color: transparent #c5cae9 transparent transparent;
			}
		}
	}
	&:nth-child(even) {
		transform: translate3d(-200px, 0, 0);
		.timeline-content {
			float: left;
			padding: 40px 30px 10px 30px;
			.date {
				right: auto;
				left: 0;
			}
			&::after {
				content: '';
				position: absolute;
				border-style: solid;
				width: 0;
				height: 0;
				top: 30px;
				right: -15px;
				border-width: 10px 0 10px 15px;
				border-color: transparent transparent transparent #c5cae9;
			}
		}
	}
	&::after {
		content: '';
		display: block;
		clear: both;
	}
	&.in-view {
		transform: none;
		visibility: visible;
		opacity: 1;
	}
}
.timeline-content {
	position: relative;
	width: 45%;
	padding: 10px 30px;
	box-shadow: 0px 15px 50px 0px rgba(0, 0, 0, 0.15);
	border-radius: 0.375rem;
	background: #fff;
	&::after {
		content: '';
		position: absolute;
		border-style: solid;
		width: 0;
		height: 0;
		top: 30px;
		right: -15px;
		border-width: 10px 0 10px 15px;
		border-color: transparent transparent transparent #c5cae9;
	}
}
.timeline-img {
	width: 30px;
	height: 30px;
	background: #1c448e;
	border-radius: 50%;
	position: absolute;
	left: 50%;
	margin-top: 25px;
	margin-left: -15px;
}

.timeline-card {
	padding: 0 !important;
	p {
		padding: 0 20px;
		background-color: #fff;
		color: #00343f;
	}
}
.timeline-img-header {
	height: 200px;
	position: relative;
	margin-bottom: 20px;
	h2 {
		color: #fff;
		position: absolute;
		bottom: 5px;
		left: 20px;
	}
}
.date {
	background: #1d3461;
	display: inline-block;
	color: #fff;
	font-size: 18px;
	padding: 10px;
	position: absolute;
	top: 0;
	right: 0;
}

@media (max-width: 769px) {
	.timeline-img-header {
    text-align: center;
    h2 {
      width: 100%;
      margin-top: 40px;
      left: 0px;
      font-size: 20px;
    }
  }
  .timeline {
    &::before {
      left: 50px;
    }
    .timeline-img {
      left: 50px;
    }
    .timeline-content {
      max-width: 100%;
      width: auto;
      margin-left: 70px;
    }
    .timeline-item {
      &:nth-child(odd) {
        transform: none;
        .timeline-content {
          float: left;
          padding: 40px 30px 10px 30px;
        }
      }
      &:nth-child(even) {
        transform: none;
        .timeline-content {
          float: left;
          padding: 40px 30px 10px 30px;
          &::after {
            content: "";
            position: absolute;
            border-style: solid;
            width: 0;
            height: 0;
            top: 30px;
            left: -15px;
            border-width: 10px 15px 10px 0;
            border-color: transparent #c5cae9 transparent transparent;
          }
        }
      }
    }
  }
}